.who-we-are > h1 {
    font-family: 'Quicksand', sans-serif;
    color: #555555;
    font-weight: 900;
    margin-bottom: 20px;
    font-size: 35px;
  }
  
  .who-we-are > p {
    color: #555555;
    font-weight: 400;
    font-size: 22px;
  }

  .what-we-do > h1 {
    font-family: 'Quicksand', sans-serif;
    color: #555555;
    font-weight: 900;
    margin-bottom: 65px;
    font-size: 35px;
  }

  .wwdd-text {
    color: #555555;
  }
  
  .wwdd-text > h1 {
    margin: 30px 0 30px 0;
  }

  /* footer */
